@model FastTradeWEB.Models.UserVMEditPassword

@{
    ViewBag.Title = "Редактирование пароля";
    Layout = null;
    <script src="~/Scripts/myScript.js"></script>
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "manageContent",
        OnBegin = "startLoadingAnimation()",
        OnComplete = "stopLoadingAnimation()"
    };
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">
        <div id="loginForm">
            @using (Ajax.BeginForm("EditPassword", "Manage", FormMethod.Post, ajaxOpts, new { id = "EditPasswordForm", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordCurrent)<br />
                    @Html.EditorFor(model => model.PasswordCurrent, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PasswordCurrent, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordNew)<br />
                    @Html.EditorFor(model => model.PasswordNew, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PasswordNew, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordNewConfirm)<br />
                    @Html.EditorFor(model => model.PasswordNewConfirm, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PasswordNewConfirm, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <input type="submit" value="Изменить" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>      
</div>
@*<div class="row">
    <div class="col-xs-offset-1 col-xs-8 ">
        <div>
            <h3 class="text-center">@ViewBag.Title</h3><br />
        </div>
        <div id="loginForm">
            @using (Ajax.BeginForm("EditPassword", "Manage", FormMethod.Post, ajaxOpts, new {id = "EditPasswordForm", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordCurrent)<br />
                    @Html.EditorFor(model => model.PasswordCurrent, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PasswordCurrent, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordNew)<br />
                    @Html.EditorFor(model => model.PasswordNew, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PasswordNew, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordNewConfirm)<br />
                    @Html.EditorFor(model => model.PasswordNewConfirm, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PasswordNewConfirm, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Изменить" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>*@
<script>
    $.validator.unobtrusive.parse('#EditPasswordForm'); // 'form_id' - id новой формы
</script>